@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

::selection {
    color: #fff;
    background-color: #014860;
}

main {
    background-image: url("Assets/Background.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 57.6rem;
    height: 27.42rem;
}

.introduction {
    background-image: url("Assets/iPhone Mockup.png");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #013243;
    flex-basis: 50%;
    text-align: center;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 7px 0 0 7px;
}

.text-wrap {
    padding-top: 7.5%;
}

.login {
    background-color: #ffff;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #bcbcbc;
    flex-basis: 50%;
    border-radius: 0 7px 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrap {
    width: 80%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-wrap form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 80%;
}

.email-wrap, .password-wrap {
    height: 5.026rem;
}

.email-wrap label, .password-wrap label {
    display: block;
    font-weight: bold;
}

#email, #password {
    width: 100%;
    display: block;
    height: 2.97rem;
}

.introduction h1 {
    color: #fff;
    margin-bottom: 15px;
}

.login-wrap h1 {
    margin-bottom: 1rem;
}

p {
    color: #85bed2;
}

h1, p {
    margin-top: 0;
}

input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 1rem;
    outline: none;
}

input::placeholder {
    font-family: 'Roboto';
    font-size: 1rem;
}

input:focus {
    transition: border .4s ease-in-out;
    border: 1px solid #013243;
}

input:focus::placeholder {
    transition: color .4s ease-in-out;
    color: transparent;
  }

a {
    font-weight: bold;
    color: #013243;
}

button {
    display: block;
    height: 2.97rem;
    background-color: #013243;
    color: #ffff;
    font-family: 'Roboto';
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    transition: .1s ease;
    font-size: 1rem;
}

button:hover {
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0 5px 10px rgb(190, 190, 190);
}

button:active {
    background-color: #013243;
    transform: translateY(2px);
  }

.checkbox input {
    margin-top: 0;
    position: relative;
    top: .5px;
    cursor: pointer;
    accent-color: #013243;
}

.checkbox label {
    margin-left: .7rem;
}

.checkbox {
    display: flex;
    margin-bottom: 10px;
}


@media screen and (max-width: 915px) and (orientation: portrait) {
    .wrapper {
        flex-direction: column;
        height: 57.6rem;
        width: 27.42rem;
    }

    .container {
        height: 920px;
    }

    main {
        height: 921px;
    }

    .introduction {
        border-radius: 7px 7px 0 0;
    }

    .login {
        border-radius: 0 0 7px 7px;
        border-width: 1px 1px 1px 1px;
    }
}

/*Optimised media query for Samsung Galaxy Fold starts here*/
@media screen and (max-width: 719px) {
    .wrapper {
        flex-direction: row;
        width: 57.6rem;
        height: 27.42rem;
    }

    main {
        height: 100vh;
    }

    .container {
        height: 100%;
    }

    .introduction, .login {
        border-radius: 0;
    }
}

@media screen and (max-width: 716px) {
    .wrapper {
        flex-direction: column;
        height: 57.6rem;
        width: 27.42rem;
    }

    .container {
        height: 920px;
    }

    main {
        height: 921px;
    }

    .introduction {
        border-radius: 7px 7px 0 0;
    }

    .login {
        border-radius: 0 0 7px 7px;
        border-width: 1px 1px 1px 1px;
    }
}
/*Optimised media query for Samsung Galaxy Fold ends here*/

@media screen and (min-height: 920px) {
    main {
        height: 100vh;
    }

    .container {
        height: 100%;
    }
}

@media screen and (max-width: 435px) {
    .introduction, .login {
        border-radius: 0;
    }
}

@media screen and (max-height: 415px) {
    .introduction, .login {
        border-radius: 0;
    }
}

@media screen and (max-height: 438px) and (orientation: landscape) {
    .wrapper {
        flex-direction: row;
        width: 57.6rem;
        height: 27.42rem;
    }

    .container {
        height: 438px;
    }

    main {
        height: 438px;
    }
}